<p>This is a dynamic document created on 2015-05-07.</p>
<h3 id="value1">Value1</h3>
<p>Some text to describe this value's meaning</p>
<p>The average value of Value1 is 59.25 (SD: 26.39)</p>
<figure>
<img src="figure/plotValue1-1.png" alt="Histogram of Value1 values" /><figcaption>Histogram of Value1 values</figcaption>
</figure>
<h3 id="other-values">Other Values</h3>
<p>Some text to describe the meaning of these numbers or measurement techniques, etc...</p>
<table>
<thead>
<tr class="header">
<th style="text-align: right;">Value2</th>
<th style="text-align: right;">Value3</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: right;">4</td>
<td style="text-align: right;">9</td>
</tr>
</tbody>
</table>
<p>Additional Comments: none</p>
